common-intrg/src/main/resources/iip-integration-config/GTCH-services-endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.3/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.3/mule-jersey.xsd
">

	<!-- Claims Search Interface -->
	<flow name="claimSearchInboundFlow" doc:name="claimSearchInboundFlow">

        <vm:inbound-endpoint path="claimList" exchange-pattern="request-response" connector-ref="vmSync" >

            <response>
                <custom-processor class="com.fiserv.isd.iip.core.routing.mule.ThreadCtxClearingProcessor"/>
            </response>

        </vm:inbound-endpoint>
        
        <custom-processor class="com.fiserv.isd.iip.core.routing.mule.ThreadCtxInitializingProcessor">
            <spring:property name="acceptConfirmations" value="true"/>
            <spring:property name="requestType" value="INTERFACE"/>
        </custom-processor>

		<!-- <echo-component doc:name="Echo" />
		<logger message="Claim Search XML Request #[payload] " level="INFO"
			doc:name="Log Request XML Request" /> -->

		<message-properties-transformer>
			<add-message-property key="xsd" value="xsd/ClaimSearchRequest.xsd" />
			<add-message-property key="interface" value="GTCH"/>
		</message-properties-transformer>
		<transformer ref="SecurityInboundRequestTransformer" />
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
        
		<vm:outbound-endpoint path="payloadRouter" exchange-pattern="request-response" connector-ref="vmSync" />
		
		 <!-- Route unexpected errors to separate error handler -->
        <default-exception-strategy>
            <vm:outbound-endpoint path="userErrorHandler" exchange-pattern="request-response" connector-ref="vmSync" />
        </default-exception-strategy> 			
	</flow>

	<flow name="claimSearchFlow" doc:name="claimSearchFlow">

		<vm:inbound-endpoint path="claimSearch"
			exchange-pattern="request-response" connector-ref="vmSync" />

		<outbound-endpoint ref="integration.endpoint.claimDetailsInboundEndPoint"
			transformer-refs="claimSearchMethod" responseTransformer-refs="clientExceptionTransformer IIPObject2XMLTransformer" />

	</flow>

</mule>


