common-intrg/target/classes/iip-integration-config/client-policy-replication-endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core"
	xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.3/mule-vm.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.3/mule-http.xsd 
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.3/mule-xml.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.3/mule.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.3/mule-jersey.xsd
">

	<vm:endpoint name="policySearchEndpoint" path="policy.search.in"
		exchange-pattern="request-response" connector-ref="vmSync" />

	<vm:endpoint name="policyRetrieveDetailsEndpoint" path="policy.retrieveDetails.in"
		exchange-pattern="request-response" connector-ref="vmSync" />

	<vm:endpoint name="policyImportEndpoint" path="policy.importPolicy.in"
		exchange-pattern="request-response" connector-ref="vmSync" />

	<vm:endpoint name="policyReImportEndpoint" path="policy.reImportPolicy.in"
		exchange-pattern="request-response" connector-ref="vmSync" />

	<vm:endpoint name="policyListUnitsEndpoint" path="policy.listUnits.in"
		exchange-pattern="request-response" connector-ref="vmSync" />


	<flow name="policySearchService" doc:name="PolicySearchService Flow">

		<vm:inbound-endpoint ref="policySearchEndpoint"
			exchange-pattern="request-response" />
      
      <transformer ref="SecurityOutboundRequestTransformer" />
      <transformer ref="IIPObject2XMLTransformer" />
      
		<message-properties-transformer scope="session">
			<add-message-property key="targetURL"
				value="${policySearchURL}" />
			<add-message-property key="operationName"
				value="search" />	
		</message-properties-transformer>
	  
	  <transformer ref="SOAPRequestTransformer"/>      
       
      <logger message="Policy Search=#[payload]=" level="INFO" />
      
      <outbound-endpoint
            name="policySearchEndpointHttp"
            address="${iip.interface.communication.protocol}://#[groovy:message.getSessionProperty('targetURL')]"
            exchange-pattern="request-response"
            mimeType="text/xml"
            ref="OutBoundEnpointRef"
            responseTransformer-refs="ByteArrayToString"
            />

		<message-properties-transformer>
			<add-message-property key="xsd"
				value="xsd/PolicySearchResponse.xsd" />
		</message-properties-transformer>
		
		<transformer ref="SecurityOutboundResponseTransformer" />
		<transformer ref="SOAPResponseTransformer"/>
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
	</flow>

	<flow name="policyRetrieveDetailsService" doc:name="PolicyRetrieveDetails Flow">
		<vm:inbound-endpoint ref="policyRetrieveDetailsEndpoint"
			exchange-pattern="request-response" />

      <transformer ref="SecurityOutboundRequestTransformer" />
      <transformer ref="IIPObject2XMLTransformer" />
			
		<message-properties-transformer scope="session">
			<add-message-property key="targetURL"
				value="${policyRetrieveDetailsURL}" />
			<add-message-property key="operationName"
				value="retrievePolicyDetails" />	
		</message-properties-transformer>      
      
      <transformer ref="SOAPRequestTransformer"/>  
      
      <logger message="Policy Retrieve=#[payload]=" level="INFO" />
      
        <outbound-endpoint
            name="policyRetrieveDetailsEndpointHttp"
            address="${iip.interface.communication.protocol}://#[groovy:message.getSessionProperty('targetURL')]"
            exchange-pattern="request-response"
            mimeType="text/xml"
            ref="OutBoundEnpointRef"
            responseTransformer-refs="ByteArrayToString"
        />

		<message-properties-transformer>
			<add-message-property key="xsd"
				value="xsd/PolicyRetrieveDetailsResponse.xsd" />
		</message-properties-transformer>
		
		<transformer ref="SecurityOutboundResponseTransformer" />
		<transformer ref="SOAPResponseTransformer"/>  		
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
	</flow>

	<flow name="policyImportPolicyService" doc:name="PolicyImportService Flow">
		<vm:inbound-endpoint ref="policyImportEndpoint"
			exchange-pattern="request-response" />

      <transformer ref="SecurityOutboundRequestTransformer" />
      <transformer ref="IIPObject2XMLTransformer" />
			
		<message-properties-transformer scope="session">
			<add-message-property key="targetURL"
				value="${policyImportURL}" />
			<add-message-property key="operationName"
				value="importPolicy" />
		</message-properties-transformer>
		      
      <transformer ref="SOAPRequestTransformer"/> 
      
      <logger message="Policy Import=#[payload]=" level="INFO" />
      
      <outbound-endpoint
            name="policyImportEndpointHttp"
            address="${iip.interface.communication.protocol}://#[groovy:message.getSessionProperty('targetURL')]"
            exchange-pattern="request-response"
            mimeType="text/xml"
            ref="OutBoundEnpointRef"
            responseTransformer-refs="ByteArrayToString"
        />

		<message-properties-transformer>
			<add-message-property key="xsd"
				value="xsd/PolicyImportResponse.xsd" />
		</message-properties-transformer>
		
		<transformer ref="SecurityOutboundResponseTransformer" />
		<transformer ref="SOAPResponseTransformer"/> 
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
	</flow>

	<flow name="policyListPolicyUnitsService" doc:name="PolicyListPolicyUnitsService Flow">
		<vm:inbound-endpoint ref="policyListUnitsEndpoint"
			exchange-pattern="request-response" />
		
      <transformer ref="SecurityOutboundRequestTransformer" />
      <transformer ref="IIPObject2XMLTransformer" />
 			
		<message-properties-transformer scope="session">
			<add-message-property key="targetURL"
				value="${policyListUnitsURL}" />
			<add-message-property key="operationName"
				value="listPolicyUnits" />	
		</message-properties-transformer>
		     
        <transformer ref="SOAPRequestTransformer"/>
        
		<logger message="Policy ListUnits=#[payload]=" level="INFO" />        				

        <outbound-endpoint
            name="policyListPolicyUnitsEndpointHttp"
            address="${iip.interface.communication.protocol}://#[groovy:message.getSessionProperty('targetURL')]"
            exchange-pattern="request-response"
            mimeType="text/xml"
            ref="OutBoundEnpointRef"
            responseTransformer-refs="ByteArrayToString"
        />

		<message-properties-transformer>
			<add-message-property key="xsd"
				value="xsd/PolicyListUnitsResponse.xsd" />
		</message-properties-transformer>
		
		<transformer ref="SecurityOutboundResponseTransformer" />
		<transformer ref="SOAPResponseTransformer"/>
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
	</flow>

	<flow name="policyReImportPolicyService" doc:name="PolicyReImportService Flow">
		<vm:inbound-endpoint ref="policyReImportEndpoint"
			exchange-pattern="request-response" />
		
		<transformer ref="SecurityOutboundRequestTransformer" />
      	<transformer ref="IIPObject2XMLTransformer" />

			
		<message-properties-transformer scope="session">
			<add-message-property key="targetURL"
				value="${policyReImportURL}" />
			<add-message-property key="operationName"
				value="reImportPolicy" />	
		</message-properties-transformer>
		      	
      	<transformer ref="SOAPRequestTransformer"/>
      	
      	<logger message="Policy ReImport=#[payload]=" level="INFO" />

        <outbound-endpoint
            name="policyReImportEndpointHttp"
            address="${iip.interface.communication.protocol}://#[groovy:message.getSessionProperty('targetURL')]"
            exchange-pattern="request-response"
            mimeType="text/xml"
            ref="OutBoundEnpointRef"
            responseTransformer-refs="ByteArrayToString"
        />

		<message-properties-transformer>
			<add-message-property key="xsd"
				value="xsd/PolicyImportResponse.xsd" />
		</message-properties-transformer>
		
		<transformer ref="SecurityOutboundResponseTransformer" />
		<transformer ref="SOAPResponseTransformer"/>
		<transformer ref="XSDValidationTransformer" />
		<transformer ref="IIPXML2ObjectTransformer" />
	</flow>


</mule>
